.header,.nav,.main,.sidebar,.advertise,.footer {
    background-color: tomato;
    border: 2px solid red;
    border-radius: 9px;
    padding: 10px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{ 
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.advertise{
    grid-area: advertise;
}
.footer{
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-areas: 
    "header   header     header   header"
    "nav      main       main     sidebar"
    "nav      main       main     advertise"
    "footer   footer     footer   footer"
    ;
}
    /* smaller device */
@media screen and (max-width: 570px) {
    .container{
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "sidebar"
        "advertise"
        "footer"
        ;
    }
}
     /* mideam device */
@media screen and (min-width:571px) and (max-width: 780px) {
    .container{
        grid-template-areas: 
        "header header header"
        "nav     nav     nav"
        "sidebar  main  main" 
        "advertise footer footer"
        ;
    }
}